root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.jl]
indent_style = tab

[*.R]
indent_style = tab

[*.c]
indent_style = tab

[*.h]
indent_style = tab

[*.cpp]
indent_style = tab

[*.hpp]
indent_style = tab

[*.f]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.sh]
indent_style = tab

[*.awk]
indent_style = tab

[*.html]
indent_style = tab
tab_width = 2

[*.css]
indent_style = tab

[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[usage.txt]
indent_style = space
indent_size = 2

[repl.txt]
indent_style = space
indent_size = 4

[package.json]
indent_style = space
indent_size = 2

[datapackage.json]
indent_style = space
indent_size = 2

[*.bib]
indent_style = tab

[*.yml]
indent_style = space
indent_size = 2

[binding.gyp]
indent_style = space
indent_size = 2

[*.gypi]
indent_style = space
indent_size = 2
