root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_style = tab

[*.py]
indent_style = space

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[*.mk]
indent_style = tab

[package.json]
indent_style = space
indent_size = 2

[datapackage.json]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
