# This file maps author and committer names and email addresses to canonical
# real names and email addresses. For more information, see the `git shortlog`
# [man page][1].
#
# [1]: http://schacon.github.io/git/git-shortlog.html

# Please keep this list sorted alphabetically.

# A

Athan Reines <kgryte@gmail.com> kgryte
Athan Reines <kgryte@gmail.com> Athan

# B

Bruno Fenzl <brunofenzl@gmail.com> <bruno@brunofenzl.com>

# F

Frank Kovacs <fran70kk@gmail.com> <fkovacs@andrew.cmu.edu>

# M

Matt Cochrane <matthew.cochrane.eng@gmail.com> <mattisback@gmail.com>

# P

Philipp Burckhardt <pburckhardt@outlook.com> Planeshifter

# R

Ricky Reusser <rsreusser@gmail.com> <rreusser@users.noreply.github.com>
Ricky Reusser <rsreusser@gmail.com> <572717+rreusser@users.noreply.github.com>
Ryan Seal <splrk@users.noreply.github.com> Splrk

# S

Stephannie Jiménez Gacha <steff456@hotmail.com> <steff456@users.noreply.github.com>
Stephannie Jiménez Gacha <steff456@hotmail.com> Stephannie Jimenez
Stephannie Jiménez Gacha <steff456@hotmail.com> Stephannie Jimenez Gacha

# Y

Yernar Yergaziyev <yernar.yergaziyev@erg.kz> <yernar707@users.noreply.github.com>
Yernar Yergaziyev <yernar.yergaziyev@erg.kz> <54137699+yernar707@users.noreply.github.com>
