# This file which maps author and committer names and email addresses to
# canonical real names and email addresses. For more information, see the
# [man page][1].
#
# [1]: http://schacon.github.io/git/git-shortlog.html

# Please keep this list sorted alphabetically.

# A

Athan Reines <kgryte@gmail.com> kgryte
Athan Reines <kgryte@gmail.com> Athan

# P

Philipp Burckhardt <pburckhardt@outlook.com> Planeshifter
