# This file maps author and committer names and email addresses to canonical
# real names and email addresses. For more information, see the `git shortlog`
# [man page][1].
#
# [1]: http://schacon.github.io/git/git-shortlog.html

# Please keep this list sorted alphabetically.

# A

Amit Jimiwal <amitjimiwal45@gmail.com> <90555965+amitjimiwal@users.noreply.github.com>
Amit Jimiwal <amitjimiwal45@gmail.com> drunken_devv

Athan Reines <kgryte@gmail.com> kgryte
Athan Reines <kgryte@gmail.com> Athan

# B

Bruno Fenzl <brunofenzl@gmail.com> <bruno@brunofenzl.com>

# D

Dorrin Sotoudeh <dorrinsotoudeh123@gmail.com> <59933477+dorrin-sot@users.noreply.github.com>
Dorrin Sotoudeh <dorrinsotoudeh123@gmail.com> dorrin-sot

# F

Frank Kovacs <fran70kk@gmail.com> <fkovacs@andrew.cmu.edu>

# H

Harshita Kalani <harshitakalani02@gmail.com> <95532771+HarshitaKalani@users.noreply.github.com>

# J

James Gelok <jdgelok@gmail.com> James

Jordan Gallivan <115050475+Jordan-Gallivan@users.noreply.github.com> Jordan-Gallivan

# M

Marcus Fantham <mfantham@users.noreply.github.com> Marcus

Matt Cochrane <matthew.cochrane.eng@gmail.com> <mattisback@gmail.com>

# N

Naresh Jagadeesan <naresh.naresh000@gmail.com> <37257700+Infinage@users.noreply.github.com>

Nithin Katta <88046362+nithinkatta@users.noreply.github.com> KATTA NAGA NITHIN

# P

Philipp Burckhardt <pburckhardt@outlook.com> Planeshifter

Pranav Goswami <goswami.4@iitj.ac.in> <85227306+Pranavchiku@users.noreply.github.com>
Pranav Goswami <goswami.4@iitj.ac.in> Pranav

# R

rei2hu <reimu@reimu.ws> <rei2hu@users.noreply.github.com>

Ricky Reusser <rsreusser@gmail.com> <rreusser@users.noreply.github.com>
Ricky Reusser <rsreusser@gmail.com> <572717+rreusser@users.noreply.github.com>

Robert Gislason <gztown2216@yahoo.com> rgizz

Ryan Seal <splrk@users.noreply.github.com> Splrk

# S

stdlib-bot <noreply@stdlib.io> <82920195+stdlib-bot@users.noreply.github.com>

Stephannie Jiménez Gacha <steff456@hotmail.com> <steff456@users.noreply.github.com>
Stephannie Jiménez Gacha <steff456@hotmail.com> Stephannie Jimenez
Stephannie Jiménez Gacha <steff456@hotmail.com> Stephannie Jimenez Gacha

# Y

Yernar Yergaziyev <yernar.yergaziyev@erg.kz> <yernar707@users.noreply.github.com>
Yernar Yergaziyev <yernar.yergaziyev@erg.kz> <54137699+yernar707@users.noreply.github.com>
