# Configuration for [npm][1].
#
# [1]: https://docs.npmjs.com/files/npmrc

# Disable the creation of a lock file:
package-lock = false
shrinkwrap = false

# Disable automatically "saving" dependencies on install:
save = false
