<div class="menu-section">
	<input class="menu-section-input" id="menu-section-{{id}}" name="menu-section-{{id}}" type="checkbox">
	<label class="menu-section-label" for="menu-section-{{id}}">{{label}}</label><ul class="menu-section-list">
		{{list}}
	</ul>
</div>
