/*
* Stylesheet for syntax highlighting with highlight.js.
*
* [1]: https://github.com/isagalaev/highlight.js
* [2]: https://github.com/jmblog/color-themes-for-highlightjs
*/

.hljs-comment,
.hljs-quote {
	color: #8e908c;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: #c82829; /* tomorrow red */
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
	color: #f5871f; /* tomorrow orange */
}

.hljs-attribute {
	color: #eab700; /* tomorrow yellow */
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: #718c00; /* tomorrow green */
}

.hljs-title,
.hljs-section {
	color: #4271ae; /* tomorrow blue */
}

.hljs-keyword,
.hljs-selector-tag {
	color: #8959a8; /* tomorrow purple */
}

.hljs {
	display: block;
	overflow-x: auto;
	background: white;
	color: #4d4d4c;
	padding: 0.5em;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
