#/
# @license Apache-2.0
#
# Copyright (c) 2022 The Stdlib Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#/

# Workflow name:
name: scaffold_package_via_push_to_branch

# Workflow triggers:
on:
  push:
    branches:
      - 'scaffold/**'
      - 'scaffold-**/**'

# Global permissions:
permissions:
  # Allow read-only access to the repository contents:
  contents: read

# Workflow jobs:
jobs:

  scaffold:

    # Define a display name:
    name: 'Scaffold Package via Push to Scaffolding Branch'

    # Define the type of virtual host machine on which to run the job:
    runs-on: ubuntu-latest

    # Define the sequence of job steps...
    steps:
      # Checkout the new branch:
      - name: 'Checkout new branch'
        # Pin action to full length commit SHA
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          # Refers to the branch name of the branch being pushed:
          ref: ${{ github.event.push.head.ref }}

          # Refers to the repository name of the branch being pushed:
          repository: ${{ github.event.push.head.repo.full_name }}

          # Specify whether to remove untracked files before checking out the repository:
          clean: true

          # Limit clone depth to the last 25 commits:
          fetch-depth: 25

          # Specify whether to download Git-LFS files:
          lfs: false

      # Get list of changed files:
      - name: 'Get list of changed files'
        id: changed-files
        run: |
          files=$(git diff --diff-filter=AM --name-only ${{ github.event.before }} ${{ github.event.after }})
          files=$(echo "$files" | tr '\n' ' ' | sed 's/ $//')
          echo "files=${files}" >> $GITHUB_OUTPUT

      # Run the command to scaffold a package:
      - name: 'Scaffold package'
        id: scaffold
        uses: stdlib-js/scaffold-pkg-pr-action@main
        with:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          added-files: ${{ steps.changed-files.outputs.files }}

      # Configure git:
      - name: 'Configure git'
        run: |
          git config --local user.email "82920195+stdlib-bot@users.noreply.github.com"
          git config --local user.name "stdlib-bot"

      # Import GPG key to sign commits:
      - name: 'Import GPG key to sign commits'
        # Pin action to full length commit SHA
        uses: crazy-max/ghaction-import-gpg@82a020f1f7f605c65dd2449b392a52c3fcfef7ef # v6.0.0
        with:
          gpg_private_key: ${{ secrets.STDLIB_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.STDLIB_BOT_GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      # Commit changes:
      - name: 'Commit changes'
        run: |
          git add -A
          git commit -m "Scaffold ${{ steps.scaffold.outputs.path }} package files"

      # Push changes:
      - name: 'Push changes'
        run: |
          SLUG=${{ github.repository }}
          echo "Pushing changes to $SLUG..."
          git push "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$SLUG.git" HEAD:${{ github.event.push.head.ref }}

      # Check if branch name contains an issue number:
      - name: 'Check if branch name contains an issue number'
        id: check-branch-name
        run: |
          if [[ ${{ github.event.push.head.ref }} =~ ^scaffold-([0-9]+) ]]; then
            echo "Branch name contains an issue number: ${BASH_REMATCH[1]}"
            echo "issue-number=${BASH_REMATCH[1]}" >> $GITHUB_OUTPUT
          fi

      # Add a comment to the pull request:
      - name: 'Add comment to pull request'
        if: steps.check-branch-name.outputs.issue-number != ''
        # Pin action to full length commit SHA
        uses: peter-evans/create-or-update-comment@23ff15729ef2fc348714a3bb66d2f655ca9066f2 # v3.1.0
        with:
          issue-number: ${{ steps.check-branch-name.outputs.issue-number }}
          body: |
            Based off the `README.md` file, the [stdlib-bot](https://github.com/stdlib-bot) has generated contents for the [${{ steps.scaffold.outputs.alias }}](../tree/${{ steps.scaffold.outputs.path }}/${{ steps.scaffold.outputs.dir }}) package.

            ## Notes

            *   :warning: The stdlib-bot uses AI to generate package content. The generated content is not guaranteed to be correct, and will require manual review and editing. :warning:
